<p-toolbar class="p-2">
    <div class="toolbar-content">
        <div class="toolbar-left">
            <p-button styleClass="btn-acao btn-reset" severity="warn" icon="pi pi-refresh" iconPos="left"
                title="Ir para o Mês atual" (onClick)="setRangeDates()"></p-button>

            <p-button styleClass="btn-acao btn-navegacao" severity="info" icon="pi pi-cog" iconPos="left"
                title="Editar Configurações" (onClick)="editSettings()"></p-button>

            <p-button styleClass="btn-acao btn-reset" severity="warn" icon="pi pi-dollar" iconPos="left"
                title="Editar Patrimônio" (onClick)="editPatrimonio()"></p-button>

            <p-button styleClass="btn-acao btn-novo-gasto" severity="success" icon="pi pi-plus" iconPos="left"
                title="Adicionar novo Gasto" (onClick)="addNewEntry()"></p-button>
        </div>

        <div class="toolbar-left-middle">
            
        </div>

        <div class="toolbar-middle">
            <p-button styleClass="btn-acao btn-navegacao" icon="pi pi-arrow-left" severity="info"
                (onClick)="prevMonth()" title="Mês Anterior"></p-button>
            <div class="label-mes-atual">{{ mesAtual }}</div>
            <p-button styleClass="btn-acao btn-navegacao" icon="pi pi-arrow-right" severity="info"
                (onClick)="nextMonth()" title="Mês Posterior"></p-button>
        </div>

        <div class="toolbar-middle-right">
            <div class="gastos-diario" title="Gasto Diário" (click)="historicoGastos()">
                <div class="label-gastos-diarios">Hoje: </div>
                <div class="texto-valor-barra" [ngClass]="getClassDiferenca(gastoDiaAtual)">{{ gastoDiaAtual | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</div>
                <div [ngClass]="getClassDiferenca(diferencaGasto)">
                    <div class="texto-diferenca-barra"><i
                            [ngClass]="getIconValor(diferencaGasto)"></i>{{ diferencaGasto | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</div>
                </div>
            </div>
        </div>

        <div class="toolbar-right">
            <p-button styleClass="btn-acao btn-logout" severity="danger" icon="pi pi-sign-out" iconPos="left"
                title="Logout" (onClick)="logout()"></p-button>
        </div>
    </div>
</p-toolbar>

<dialog-novo-gasto #dialogNovoGasto (onNovoGasto)="onAdicionar($event)"></dialog-novo-gasto>
<dialog-editar-settings #dialogEditarSettings (onSalvar)="salvarSettings($event)"></dialog-editar-settings>
<dialog-editar-patrimonio #dialogEditarPatrimonio (onSalvar)="salvarPatrimonio($event)"></dialog-editar-patrimonio>
<dialog-gastos-diarios #dialogGastosDiarios></dialog-gastos-diarios>