@if(isMobile == false) {
<div class="app-title">Necrofinances</div>
<app-top-bar-component [settings]="settings" [mes]="mes" [patrimonio]="patrimonio" [mainData]="mainData" (onNovaData)="onNovaData($event)"
    (novoGasto)="onNovoGasto($event)" (onEditarSettings)="onEditarSettings($event)"
    (onLogout)="onLogOut()" (onEditarPatrimonio)="editarPatrimonio($event)"></app-top-bar-component>
<app-middle-component [data]="mainData" (onEditarGastos)="editarGastos($event)"
    (onRemoverGastos)="removerGasto($event)"></app-middle-component>

<p-toast position="top-right"></p-toast>
} @else {

}