<p-toolbar class="p-2">
    <div class="bottom-container">

        
        <div class="left-side">

            
            <div class="card-group-bottom card-moto">
                <div class="total-box moto">
                    <i class="pi pi-car icon"></i>
                    <div class="info">
                        <span class="label">Moto</span>
                        <span class="value">
                            {{ valorMoto | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>
            </div>

            
            <div class="card-group-bottom card-lime">
                <div class="total-box lime">
                    <i class="pi pi-money-bill icon"></i>
                    <div class="info">
                        <span class="label">Emergência</span>
                        <span class="value">
                            {{ valorFundoEmergencia | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>

                <div class="total-box lime">
                    <i class="pi pi-money-bill icon"></i>
                    <div class="info">
                        <span class="label">Extra</span>
                        <span class="value">
                            {{ valorFundoExtra | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>

                <div class="total-box lime bold-value">
                    <i class="pi pi-money-bill icon"></i>
                    <div class="info">
                        <span class="label">Economias</span>
                        <span class="value">
                            {{ getEconomias() | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>
            </div>

            
            <div class="card-group-bottom card-fies">
                <div class="total-box fies">
                    <i class="pi pi-file icon"></i>
                    <div class="info">
                        <span class="label">Fies Thiago</span>
                        <span class="value">
                            {{ fiesThiago | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>

                <div class="total-box fies">
                    <i class="pi pi-file icon"></i>
                    <div class="info">
                        <span class="label">Fies Pri</span>
                        <span class="value">
                            {{ fiesPri | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>
            </div>

            
            <div class="card-group-bottom card-patrimonio">
                <div class="total-box patrimonio bold-value">
                    <i class="pi pi-home icon"></i>
                    <div class="info">
                        <span class="label">Patrimônio</span>
                        <span class="value">
                            {{ getPatrimonio() | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="right-side">

            <div class="card-group-bottom card-meta">
                <div class="total-box meta">
                    <i class="pi pi-credit-card icon"></i>
                    <div class="info">
                        <span class="label">Meta</span>
                        <span class="value">
                            {{ desafioGastos | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="card-group-bottom card-diferenca" [ngClass]="getIndicadorClasse(true)">
                <div class="total-box indicador-box diferenca-box" [ngClass]="getIndicadorClasse()">
                    <i class="pi" [ngClass]="getIndicadorIcone()" class="icon"></i>
                    <div class="info">
                        <span class="label">Diferença</span>
                        <span class="value">
                            {{ getIndicadorVariacao() | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</p-toolbar>
