<p-dialog [(visible)]="visible" [header]="header" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false" [closeOnEscape]="true" appendTo="body" [dismissableMask]="true">

    <div class="dialog-content">
        <div class="tabela-container">
            <div class="tabela-body">
                @if(gastoConsolidado) {
                @for(item of gastoConsolidado.origem; track item.id) {
                <div class="linha-item grid">
                    <div class="col-3 texto-descricao-barra">
                        <i class="icone-categoria" [class]="gastoConsolidado.categoria"></i>{{ item.descricao }}
                    </div>
                    <div class="col texto-data-barra">
                        {{ item.dataGasto | date:'dd/MM/yyyy'}}
                    </div>
                    <div class="col texto-valor-barra">
                        {{ item.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                    </div>
                    <div class="col texto-data-barra">
                        <div class="barra-container">
                            <div class="barra-preenchida" [style.width.%]="(item.valor / gastoConsolidado.valor) * 100"
                                [style.background]="getBarColor(item.valor / gastoConsolidado.valor)"></div>
                            <span class="barra-porcentagem">{{ ((item.valor / gastoConsolidado.valor) * 100).toFixed(2) }}%</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn-acao btn-navegacao" (click)="onEdit(item)" title="Editar">
                            <i class="pi pi-pencil"></i>
                        </button>
                        <button class="btn-acao btn-logout" (click)="onDelete(item)" title="Excluir">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </div>
                } @empty {
                <div class="sem-itens">
                    <i class="pi pi-info-circle"></i>
                    <span>Nenhum item encontrado</span>
                </div>
                }
            }
            </div>
        </div>
    </div>
</p-dialog>

<dialog-novo-gasto #dialogNovoGasto (onNovoGasto)="novoGasto($event)"></dialog-novo-gasto>
<p-confirmDialog></p-confirmDialog>